.pef{
    position: relative;
    width: 100%;
    text-align: center;
}
.ava{
    position: relative;
    width: 100px;
    height: auto;
}
.list{
    margin-top: 10%;
}


.block{
    text-align: center;
    
}
.img{
    position: relative;
    width: 100%;
    left: 129%;
    
}

.voltar{
    position: relative;
    left: 85%;
}